export(addActive,
addDemand,
addDuplicate,
addExposed,
addLatent,
addLogic,
addProbability,
ftree.calc,
ftree.cutsets,
ftree.make,
ftree.test,
ftree2html,
hierarchyDF2json)
importFrom(magrittr,"%>%")
